In [1]:
import pandas_datareader as web
import datetime as dt
#Draw graph
import matplotlib.pyplot as plt
#Display Graph
%matplotlib inline

In [2]:
#Define start date, end date, data table
start = dt.datetime(2001,7,1)
end = dt.datetime(2016,10,14)

In [3]:
f = web.DataReader("AAPL", 'google', start, end)

In [4]:
f.head(5)

            Open  High   Low  Close    Volume
Date
2001-07-02  1.69  1.73  1.65   1.71  56232400
2001-07-03  1.69  1.73  1.68   1.70  27631800
2001-07-05  1.69  1.70  1.64   1.66  35865200
2001-07-06  1.63  1.64  1.55   1.57  71285200
2001-07-09  1.58  1.64  1.55   1.62  83522600

In [5]:
f['Close']

Date
2001-07-02      1.71
2001-07-03      1.70
2001-07-05      1.66
2001-07-06      1.57
2001-07-09      1.62
2001-07-10      1.51
2001-07-11      1.61
2001-07-12      1.74
2001-07-13      1.78
2001-07-16      1.71
2001-07-17      1.79
2001-07-18      1.48
2001-07-19      1.43
2001-07-20      1.43
2001-07-23      1.40
2001-07-24      1.36
2001-07-25      1.32
2001-07-26      1.33
2001-07-27      1.35
2001-07-30      1.35
2001-07-31      1.34
2001-08-01      1.36
2001-08-02      1.42
2001-08-03      1.39
2001-08-06      1.37
2001-08-07      1.38
2001-08-08      1.35
2001-08-09      1.36
2001-08-10      1.36
2001-08-13      1.36
               ...
2016-09-02    107.73
2016-09-06    107.70
2016-09-07    108.36
2016-09-08    105.52
2016-09-09    103.13
2016-09-12    105.44
2016-09-13    107.95
2016-09-14    111.77
2016-09-15    115.57
2016-09-16    114.92
2016-09-19    113.58
2016-09-20    113.57
2016-09-21    113.55
2016-09-22    114.62
2016-09-23    112.71
2016-09-26    112.88
2016-09-27    113.09
2016-09-28    113.95
2016-09-29    112.18
2016-09-30    113.05
2016-10-03    112.52
2016-10-04    113.00
2016-10-05    113.05
2016-10-06    113.89
2016-10-07    114.06
2016-10-10    116.05
2016-10-11    116.30
2016-10-12    117.34
2016-10-13    116.98
2016-10-14    117.63
Name: Close, Length: 3846, dtype: float64