In [1]:
import pandas as pd

In [2]:
import pandas_datareader.data as web
import datetime

In [3]:
start = datetime.datetime(2017,1,1)
end = datetime.datetime(2018,4,5)
f = web.DataReader('AAPL', 'yahoo', start,end)

In [4]:
f.loc['2018-02-06'] # Data of a sample date

Open         1.548300e+02
High         1.637200e+02
Low          1.540000e+02
Close        1.630300e+02
Adj Close    1.611790e+02
Volume       6.824380e+07
Name: 2018-02-06 00:00:00, dtype: float64

In [7]:
start = datetime.datetime(2015,1,2)
end = datetime.datetime(2016,1,27)
f = web.DataReader('0005.HK', 'yahoo', start,end)

In [8]:
f

                 Open       High        Low      Close  Adj Close    Volume
Date
2015-01-02  73.599998  74.099998  73.500000  74.000000  58.735512   8614012
2015-01-05  73.150002  73.349998  72.800003  72.900002  57.862404  21629040
2015-01-06  71.800003  71.849998  71.349998  71.750000  56.949635  35110417
2015-01-07  70.500000  71.099998  70.449997  71.000000  56.354340  35378291
2015-01-08  71.050003  71.400002  71.000000  71.199997  56.513088  21320949
2015-01-09  71.300003  71.449997  71.000000  71.099998  56.433712  22291858
2015-01-12  71.000000  71.199997  70.650002  71.099998  56.433712  13748156
2015-01-13  71.099998  71.500000  70.800003  71.300003  56.592461  14096443
2015-01-14  71.099998  71.099998  70.699997  70.849998  56.235275  17300306
2015-01-15  70.300003  70.699997  70.199997  70.599998  56.036846  22843530
2015-01-16  70.199997  70.400002  69.800003  70.199997  55.719364  27842543
2015-01-19  70.000000  70.150002  69.750000  69.949997  55.520931  25091671
2015-01-20  70.099998  70.500000  69.900002  70.199997  55.719364  12456297
2015-01-21  70.099998  70.949997  70.099998  70.599998  56.036846  13764414
2015-01-22  70.900002  72.050003  70.650002  71.900002  57.068691  24935358
2015-01-23  72.800003  73.849998  72.699997  73.099998  58.021156  40728053
2015-01-26  72.449997  72.750000  72.150002  72.599998  57.624306  22321051
2015-01-27  73.099998  73.400002  72.900002  73.300003  58.179905  17506032
2015-01-28  72.849998  73.300003  72.650002  73.000000  57.941788  13587069
2015-01-29  72.500000  72.599998  72.199997  72.300003  57.386177  16334586
2015-01-30  72.699997  72.800003  72.199997  72.449997  57.505249  11676459
2015-02-02  71.400002  71.449997  71.099998  71.250000  56.552769  20395461
2015-02-03  71.400002  71.800003  71.250000  71.500000  56.751209  11399853
2015-02-04  72.300003  72.800003  72.199997  72.400002  57.465561  12576825
2015-02-05  72.199997  72.400002  71.650002  72.199997  57.306805  12310710
2015-02-06  72.400002  72.900002  72.300003  72.849998  57.822723  11090193
2015-02-09  73.050003  73.050003  72.650002  72.800003  57.783051  13886889
2015-02-10  71.900002  72.000000  71.500000  71.849998  57.029011  16366612
2015-02-11  71.050003  71.050003  70.000000  70.250000  55.759045  33534722
2015-02-12  70.199997  71.000000  70.150002  70.800003  56.195595  16786855
...               ...        ...        ...        ...        ...       ...
2015-12-15  58.799999  59.099998  58.799999  58.900002  49.481300  25256347
2015-12-16  59.650002  60.450001  59.599998  60.099998  50.489399  17376295
2015-12-17  61.000000  61.849998  61.000000  61.799999  51.917557  25119145
2015-12-18  61.200001  61.950001  61.099998  61.500000  51.665531  13396655
2015-12-21  61.000000  61.250000  60.900002  61.099998  51.329494   6654609
2015-12-22  61.400002  61.400002  61.000000  61.099998  51.329494   3485696
2015-12-23  61.000000  61.799999  61.000000  61.549999  51.707531   8562726
2015-12-24  62.099998  62.250000  62.099998  62.150002  52.211594   7206575
2015-12-28  62.250000  62.250000  61.650002  61.750000  51.875553   5975189
2015-12-29  61.599998  62.349998  61.599998  62.299999  52.337605   6279587
2015-12-30  62.450001  62.450001  62.049999  62.150002  52.211594   6453671
2015-12-31  61.900002  61.950001  61.700001  61.900002  52.001564   4236641
2016-01-04  61.599998  61.599998  60.150002  60.400002  50.741428  20504265
2016-01-05  59.950001  60.250000  59.700001  59.900002  50.321384  14738714
2016-01-06  59.299999  59.500000  59.049999  59.250000  49.775333  20291156
2016-01-07  57.950001  58.000000  57.250000  57.299999  48.137150  57109124
2016-01-08  57.000000  57.849998  56.849998  57.400002  48.221165  40618816
2016-01-11  56.200001  56.650002  56.099998  56.349998  47.339066  37473545
2016-01-12  57.000000  57.200001  56.400002  56.500000  47.465076  23333645
2016-01-13  57.000000  57.599998  56.900002  57.049999  47.927128  21913006
2016-01-14  55.900002  56.450001  55.799999  56.299999  47.297058  33654823
2016-01-15  56.299999  56.500000  56.000000  56.099998  47.129036  23892235
2016-01-18  54.349998  54.650002  54.200001  54.349998  45.658886  46715135
2016-01-19  53.799999  54.549999  53.700001  54.450001  45.742901  35093407
2016-01-20  53.650002  54.099998  53.099998  53.150002  44.650780  36412124
2016-01-21  53.099998  53.200001  51.750000  51.900002  43.600670  49722566
2016-01-22  52.700001  53.099998  52.049999  52.849998  44.398746  30081814
2016-01-25  53.700001  54.200001  53.500000  53.599998  45.028812  23811323
2016-01-26  52.500000  52.500000  51.700001  51.799999  43.516655  28526653
2016-01-27  52.950001  53.299999  52.700001  52.900002  44.440750  25551210

[265 rows x 6 columns]

In [9]:
f.loc['2016-01-04'] # Data of a sample date

Open         6.160000e+01
High         6.160000e+01
Low          6.015000e+01
Close        6.040000e+01
Adj Close    5.074143e+01
Volume       2.050426e+07
Name: 2016-01-04 00:00:00, dtype: float64