In [1]:
import pandas_datareader as web
import datetime as dt

In [2]:
#Define start date, end date, data table
start = dt.datetime(2016,7,1)
end = dt.datetime(2018,1,14)

In [3]:
f = web.DataReader('FB', 'iex', start, end)

5y

In [4]:
f.head(5)

              open    high     low   close    volume
date
2016-07-01  114.20  115.13  113.81  114.19  14980023
2016-07-05  113.94  114.11  112.97  114.00  14207037
2016-07-06  113.36  116.79  112.97  116.70  24337586
2016-07-07  116.63  116.97  115.36  115.85  16630201
2016-07-08  116.43  117.50  115.85  117.24  18142597

In [5]:
f['close']

date
2016-07-01    114.19
2016-07-05    114.00
2016-07-06    116.70
2016-07-07    115.85
2016-07-08    117.24
2016-07-11    117.87
2016-07-12    117.93
2016-07-13    116.78
2016-07-14    117.29
2016-07-15    116.86
2016-07-18    119.37
2016-07-19    120.61
2016-07-20    121.92
2016-07-21    120.61
2016-07-22    121.00
2016-07-25    121.63
2016-07-26    121.22
2016-07-27    123.34
2016-07-28    125.00
2016-07-29    123.94
2016-08-01    124.31
2016-08-02    123.09
2016-08-03    122.51
2016-08-04    124.36
2016-08-05    125.15
2016-08-08    125.26
2016-08-09    125.06
2016-08-10    124.88
2016-08-11    124.90
2016-08-12    124.88
               ...
2017-11-30    177.18
2017-12-01    175.10
2017-12-04    171.47
2017-12-05    172.83
2017-12-06    176.06
2017-12-07    180.14
2017-12-08    179.00
2017-12-11    179.04
2017-12-12    176.96
2017-12-13    178.30
2017-12-14    178.39
2017-12-15    180.18
2017-12-18    180.82
2017-12-19    179.51
2017-12-20    177.89
2017-12-21    177.45
2017-12-22    177.20
2017-12-26    175.99
2017-12-27    177.62
2017-12-28    177.92
2017-12-29    176.46
2018-01-02    181.42
2018-01-03    184.67
2018-01-04    184.33
2018-01-05    186.85
2018-01-08    188.28
2018-01-09    187.87
2018-01-10    187.84
2018-01-11    187.77
2018-01-12    179.37
Name: close, Length: 387, dtype: float64

In [6]:
f.tail(5)

              open    high     low   close    volume
date
2018-01-08  187.20  188.90  186.33  188.28  17994726
2018-01-09  188.70  188.80  187.10  187.87  12393057
2018-01-10  186.94  187.89  185.63  187.84  10529894
2018-01-11  188.40  188.40  187.38  187.77   9588587
2018-01-12  178.06  181.48  177.40  179.37  77551299

In [7]:
f['volume']

date
2016-07-01    14980023
2016-07-05    14207037
2016-07-06    24337586
2016-07-07    16630201
2016-07-08    18142597
2016-07-11    17711570
2016-07-12    15217700
2016-07-13    16207662
2016-07-14    14579736
2016-07-15    16645964
2016-07-18    20868367
2016-07-19    21541292
2016-07-20    20046452
2016-07-21    17801663
2016-07-22    18422410
2016-07-25    18487449
2016-07-26    17611964
2016-07-27    52654239
2016-07-28    78955758
2016-07-29    35058803
2016-08-01    25006850
2016-08-02    23968414
2016-08-03    18525332
2016-08-04    21065974
2016-08-05    20184035
2016-08-08    15233929
2016-08-09    19620967
2016-08-10    10670148
2016-08-11    11729519
2016-08-12    12158955
                ...
2017-11-30    25307601
2017-12-01    20182523
2017-12-04    24459422
2017-12-05    20184908
2017-12-06    20255846
2017-12-07    20404533
2017-12-08    19883764
2017-12-11    13168575
2017-12-12    16854098
2017-12-13    14615718
2017-12-14    13590999
2017-12-15    28463101
2017-12-18    17265376
2017-12-19    14920582
2017-12-20    11860497
2017-12-21    11600700
2017-12-22     8509451
2017-12-26     8897286
2017-12-27     9496071
2017-12-28    12220760
2017-12-29    10261456
2018-01-02    18151903
2018-01-03    16886563
2018-01-04    13880896
2018-01-05    13574535
2018-01-08    17994726
2018-01-09    12393057
2018-01-10    10529894
2018-01-11     9588587
2018-01-12    77551299
Name: volume, Length: 387, dtype: int64