In [1]:
import pandas_datareader as web
import datetime as dt

In [2]:
#Define start date, end date, data table
start = dt.datetime(2001,7,1)
end = dt.datetime(2016,10,14)

In [3]:
f = web.DataReader("AAPL", 'yahoo', start, end)

In [4]:
f.head(5)

                Open      High       Low     Close  Adj Close    Volume
Date
2001-07-02  1.688571  1.730714  1.652857  1.707143   1.147199  57512000
2001-07-03  1.679286  1.727143  1.678571  1.702857   1.144319  28135800
2001-07-05  1.685714  1.697857  1.643571  1.656429   1.113119  38073000
2001-07-06  1.625714  1.640000  1.551429  1.573571   1.057439  75730200
2001-07-09  1.577857  1.642857  1.548571  1.621429   1.089599  84366800

In [5]:
f['Close']

Date
2001-07-02      1.707143
2001-07-03      1.702857
2001-07-05      1.656429
2001-07-06      1.573571
2001-07-09      1.621429
2001-07-10      1.510000
2001-07-11      1.610000
2001-07-12      1.740000
2001-07-13      1.775000
2001-07-16      1.711429
2001-07-17      1.792857
2001-07-18      1.485000
2001-07-19      1.425714
2001-07-20      1.427143
2001-07-23      1.395714
2001-07-24      1.363571
2001-07-25      1.319286
2001-07-26      1.327857
2001-07-27      1.354286
2001-07-30      1.352143
2001-07-31      1.342143
2001-08-01      1.361429
2001-08-02      1.415714
2001-08-03      1.392857
2001-08-06      1.366429
2001-08-07      1.375000
2001-08-08      1.350000
2001-08-09      1.360714
2001-08-10      1.358571
2001-08-13      1.363571
                 ...
2016-09-02    107.730003
2016-09-06    107.699997
2016-09-07    108.360001
2016-09-08    105.519997
2016-09-09    103.129997
2016-09-12    105.440002
2016-09-13    107.949997
2016-09-14    111.769997
2016-09-15    115.570000
2016-09-16    114.919998
2016-09-19    113.580002
2016-09-20    113.570000
2016-09-21    113.550003
2016-09-22    114.620003
2016-09-23    112.709999
2016-09-26    112.879997
2016-09-27    113.089996
2016-09-28    113.949997
2016-09-29    112.180000
2016-09-30    113.050003
2016-10-03    112.519997
2016-10-04    113.000000
2016-10-05    113.050003
2016-10-06    113.889999
2016-10-07    114.059998
2016-10-10    116.050003
2016-10-11    116.300003
2016-10-12    117.339996
2016-10-13    116.980003
2016-10-14    117.629997
Name: Close, Length: 3847, dtype: float64