In [1]:
#pandas 0.22 and Dataredaer 0.5

In [2]:
import fix_yahoo_finance as yf

In [3]:
import pandas as pd

In [4]:
from pandas_datareader import data as pdr

import fix_yahoo_finance as yf
yf.pdr_override() # <== that's all it takes :-)

# download dataframe
data1 = pdr.get_data_yahoo("FB", start="2017-01-01", end="2017-04-30")

# download Panel
data2 = pdr.get_data_yahoo(["AAPL", "AMZN"], start="2017-01-01", end="2017-04-30")

[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  2 of 2 downloaded

In [5]:
data1

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2017-01-03,116.029999,117.839996,115.510002,116.860001,116.860001,20663900
2017-01-04,117.550003,119.660004,117.290001,118.690002,118.690002,19630900
2017-01-05,118.860001,120.949997,118.320000,120.669998,120.669998,19492200
2017-01-06,120.980003,123.879997,120.029999,123.410004,123.410004,28545300
2017-01-09,123.550003,125.430000,123.040001,124.900002,124.900002,22880400
2017-01-10,124.820000,125.500000,124.279999,124.349998,124.349998,17324600
2017-01-11,124.349998,126.120003,124.059998,126.089996,126.089996,18356500
2017-01-12,125.610001,126.730003,124.800003,126.620003,126.620003,18653900
2017-01-13,127.489998,129.270004,127.370003,128.339996,128.339996,24884300
2017-01-17,128.039993,128.339996,127.400002,127.870003,127.870003,15294500
2017-01-18,128.410004,128.429993,126.839996,127.919998,127.919998,13145900
2017-01-19,128.229996,128.350006,127.449997,127.550003,127.550003,12195500
2017-01-20,128.100006,128.479996,126.779999,127.040001,127.040001,19097200
2017-01-23,127.309998,129.250000,126.949997,128.929993,128.929993,16593600
2017-01-24,129.380005,129.899994,128.380005,129.369995,129.369995,15162700
2017-01-25,130.000000,131.740005,129.770004,131.479996,131.479996,18731300
2017-01-26,131.630005,133.139999,131.440002,132.779999,132.779999,20020100
2017-01-27,132.679993,132.949997,131.080002,132.179993,132.179993,19539500
2017-01-30,131.580002,131.580002,129.600006,130.979996,130.979996,18956100
2017-01-31,130.169998,130.660004,129.520004,130.320007,130.320007,19790500
2017-02-01,132.250000,133.490005,130.679993,133.229996,133.229996,50139800
2017-02-02,133.220001,135.490005,130.399994,130.839996,130.839996,54366400
2017-02-03,131.240005,132.850006,130.759995,130.979996,130.979996,24804900
2017-02-06,130.979996,132.059998,130.300003,132.059998,132.059998,17058500
2017-02-07,132.240005,133.000000,131.660004,131.839996,131.839996,14596400
2017-02-08,132.600006,134.440002,132.440002,134.199997,134.199997,22390600
2017-02-09,134.490005,134.500000,133.309998,134.139999,134.139999,16470600
2017-02-10,134.100006,134.940002,133.679993,134.190002,134.190002,15061900
2017-02-13,134.699997,134.699997,133.699997,134.050003,134.050003,13526200
2017-02-14,134.100006,134.229996,132.550003,133.850006,133.850006,14364900
...,...,...,...,...,...,...
2017-03-17,140.339996,140.339996,139.699997,139.839996,139.839996,20592800
2017-03-20,139.710007,140.190002,139.250000,139.940002,139.940002,12099500
2017-03-21,141.149994,142.309998,138.399994,138.509995,138.509995,29894800
2017-03-22,137.929993,139.789993,137.600006,139.589996,139.589996,17055400
2017-03-23,139.479996,140.389999,139.089996,139.529999,139.529999,13022800
2017-03-24,140.080002,141.020004,139.759995,140.339996,140.339996,16664700
2017-03-27,139.050003,140.649994,138.770004,140.320007,140.320007,12800500
2017-03-28,140.360001,141.949997,140.009995,141.759995,141.759995,14679400
2017-03-29,141.990005,142.860001,141.429993,142.649994,142.649994,16527600
2017-03-30,142.399994,142.949997,141.850006,142.410004,142.410004,12404000
2017-03-31,142.309998,142.630005,141.889999,142.050003,142.050003,11478300
2017-04-03,141.929993,142.470001,140.820007,142.279999,142.279999,13564000
2017-04-04,141.860001,142.089996,141.270004,141.729996,141.729996,12948600
2017-04-05,142.259995,143.440002,141.289993,141.850006,141.850006,17158100
2017-04-06,142.110001,142.220001,140.910004,141.169998,141.169998,15103400
2017-04-07,141.199997,141.550003,140.240005,140.779999,140.779999,11818300
2017-04-10,141.000000,141.429993,140.630005,141.039993,141.039993,9039400
2017-04-11,140.800003,141.029999,138.809998,139.919998,139.919998,16638100
2017-04-12,139.720001,140.399994,139.440002,139.580002,139.580002,11612500
2017-04-13,139.619995,140.580002,139.330002,139.389999,139.389999,10965600
2017-04-17,139.759995,141.550003,139.750000,141.419998,141.419998,11519700
2017-04-18,141.270004,141.910004,140.610001,140.960007,140.960007,14807500
2017-04-19,141.350006,143.039993,141.270004,142.270004,142.270004,15563900
2017-04-20,142.949997,144.250000,142.690002,143.800003,143.800003,15968200
2017-04-21,143.899994,144.169998,142.270004,143.679993,143.679993,12382000
2017-04-24,144.960007,145.669998,144.339996,145.470001,145.470001,14407200
2017-04-25,145.789993,147.149994,145.789993,146.490005,146.490005,17767500
2017-04-26,147.089996,147.589996,146.089996,146.559998,146.559998,12395000
2017-04-27,146.669998,147.750000,146.139999,147.699997,147.699997,11275100
2017-04-28,149.500000,151.529999,149.070007,150.250000,150.250000,30652200

In [6]:
data2

                  Open                    High                     Low  \
                  AAPL        AMZN        AAPL        AMZN        AAPL
Date
2017-01-03  115.800003  757.919983  116.330002  758.760010  114.760002
2017-01-04  115.849998  758.390015  116.510002  759.679993  115.750000
2017-01-05  115.919998  761.549988  116.860001  782.400024  115.809998
2017-01-06  116.779999  782.359985  118.160004  799.440002  116.470001
2017-01-09  117.949997  798.000000  119.430000  801.770020  117.940002
2017-01-10  118.769997  796.599976  119.379997  798.000000  118.300003
2017-01-11  118.739998  793.659973  119.930000  799.500000  118.599998
2017-01-12  118.900002  800.309998  119.300003  814.130005  118.209999
2017-01-13  119.110001  814.320007  119.620003  821.650024  118.809998
2017-01-17  118.339996  815.700012  120.239998  816.000000  118.220001
2017-01-18  120.000000  809.500000  120.500000  811.729980  119.709999
2017-01-19  119.400002  810.000000  120.089996  813.510010  119.370003
2017-01-20  120.449997  815.280029  120.449997  816.020020  119.730003
2017-01-23  120.000000  806.799988  120.809998  818.500000  119.769997
2017-01-24  119.550003  822.000000  120.099998  823.989990  119.500000
2017-01-25  120.419998  825.789978  122.099998  837.419983  120.279999
2017-01-26  121.669998  835.530029  122.440002  843.840027  121.599998
2017-01-27  122.139999  839.000000  122.349998  839.700012  121.599998
2017-01-30  120.930000  833.000000  121.629997  833.500000  120.660004
2017-01-31  121.150002  823.750000  121.389999  826.989990  120.620003
2017-02-01  127.029999  829.210022  130.490005  833.780029  127.010002
2017-02-02  127.980003  836.590027  129.389999  842.489990  127.779999
2017-02-03  128.309998  806.719971  129.190002  818.299988  128.160004
2017-02-06  129.130005  809.799988  130.500000  810.719971  128.899994
2017-02-07  130.539993  809.309998  132.089996  816.159973  130.449997
2017-02-08  131.350006  812.690002  132.220001  821.479980  131.220001
2017-02-09  131.649994  821.599976  132.449997  825.000000  131.119995
2017-02-10  132.460007  823.820007  132.940002  828.000000  132.050003
2017-02-13  133.080002  831.619995  133.820007  843.000000  132.750000
2017-02-14  133.470001  837.000000  135.089996  838.309998  133.250000
...                ...         ...         ...         ...         ...
2017-03-17  141.000000  853.489990  141.000000  853.830017  139.889999
2017-03-20  140.399994  851.510010  141.500000  857.799988  140.229996
2017-03-21  142.110001  858.840027  142.800003  862.799988  139.729996
2017-03-22  139.850006  840.429993  141.600006  849.369995  139.759995
2017-03-23  141.259995  848.200012  141.580002  850.890015  140.610001
2017-03-24  141.500000  851.679993  141.740005  851.799988  140.350006
2017-03-27  139.389999  838.070007  141.220001  850.299988  138.619995
2017-03-28  140.910004  851.750000  144.039993  858.460022  140.619995
2017-03-29  143.679993  859.049988  144.490005  876.440002  143.190002
2017-03-30  144.190002  874.950012  144.500000  877.059998  143.500000
2017-03-31  143.720001  877.000000  144.270004  890.349976  143.009995
2017-04-03  143.710007  888.000000  144.119995  893.489990  143.050003
2017-04-04  143.250000  891.500000  144.889999  908.539978  143.169998
2017-04-05  144.220001  910.820007  145.460007  923.719971  143.809998
2017-04-06  144.289993  913.799988  144.520004  917.190002  143.449997
2017-04-07  143.729996  899.650024  144.179993  900.090027  143.270004
2017-04-10  143.600006  899.630005  143.880005  908.510010  142.899994
2017-04-11  142.940002  907.039978  143.350006  911.239990  140.059998
2017-04-12  141.600006  903.090027  142.149994  904.090027  141.009995
2017-04-13  141.910004  891.450012  142.380005  894.969971  141.050003
2017-04-17  141.479996  887.500000  141.880005  902.380005  140.869995
2017-04-18  141.410004  900.989990  142.039993  909.609985  141.110001
2017-04-19  141.880005  907.840027  142.000000  910.500000  140.449997
2017-04-20  141.220001  899.700012  142.919998  905.320007  141.160004
2017-04-21  142.440002  902.669983  142.679993  903.650024  141.850006
2017-04-24  143.500000  908.679993  143.949997  909.989990  143.179993
2017-04-25  143.910004  907.039978  144.899994  909.479980  143.869995
2017-04-26  144.470001  910.299988  144.600006  915.750000  143.380005
2017-04-27  143.919998  914.390015  144.160004  921.859985  143.309998
2017-04-28  144.089996  948.830017  144.300003  949.590027  143.270004

                             Close               Adj Close              \
                  AMZN        AAPL        AMZN        AAPL        AMZN
Date
2017-01-03  747.700012  116.150002  753.669983  113.013916  753.669983
2017-01-04  754.200012  116.019997  757.179993  112.887413  757.179993
2017-01-05  760.260010  116.610001  780.450012  113.461502  780.450012
2017-01-06  778.479980  117.910004  795.989990  114.726402  795.989990
2017-01-09  791.770020  118.989998  796.919983  115.777237  796.919983
2017-01-10  789.539978  119.110001  795.900024  115.893997  795.900024
2017-01-11  789.510010  119.750000  799.020020  116.516708  799.020020
2017-01-12  799.500000  119.250000  813.640015  116.030212  813.640015
2017-01-13  811.400024  119.040001  817.140015  115.825882  817.140015
2017-01-17  803.440002  120.000000  809.719971  116.759972  809.719971
2017-01-18  804.270020  119.989998  807.479980  116.750229  807.479980
2017-01-19  807.320007  119.779999  809.039978  116.545898  809.039978
2017-01-20  806.260010  120.000000  808.330017  116.759972  808.330017
2017-01-23  805.080017  120.080002  817.880005  116.837799  817.880005
2017-01-24  814.500000  119.970001  822.440002  116.730774  822.440002
2017-01-25  825.289978  121.879997  836.520020  118.589195  836.520020
2017-01-26  833.000000  121.940002  839.150024  118.647583  839.150024
2017-01-27  829.440002  121.949997  835.770020  118.657303  835.770020
2017-01-30  816.380005  121.629997  830.380005  118.345947  830.380005
2017-01-31  819.559998  121.349998  823.479980  118.073517  823.479980
2017-02-01  824.940002  128.750000  832.349976  125.273705  832.349976
2017-02-02  828.260010  128.529999  839.950012  125.059654  839.950012
2017-02-03  804.000000  129.080002  810.200012  125.594803  810.200012
2017-02-06  803.000000  130.289993  807.640015  126.772125  807.640015
2017-02-07  807.500000  131.529999  812.500000  127.978630  812.500000
2017-02-08  812.500000  132.039993  819.710022  128.474869  819.710022
2017-02-09  819.710022  132.419998  821.359985  129.403229  821.359985
2017-02-10  822.849976  132.119995  827.460022  129.110077  827.460022
2017-02-13  828.549988  133.289993  836.530029  130.253418  836.530029
2017-02-14  831.450012  135.020004  836.390015  131.944016  836.390015
...                ...         ...         ...         ...         ...
2017-03-17  850.640015  139.990005  852.309998  136.800797  852.309998
2017-03-20  851.010010  141.460007  856.969971  138.237305  856.969971
2017-03-21  841.309998  139.839996  843.200012  136.654190  843.200012
2017-03-22  839.049988  141.419998  848.059998  138.198212  848.059998
2017-03-23  844.799988  140.919998  847.380005  137.709579  847.380005
2017-03-24  843.530029  140.639999  845.609985  137.435974  845.609985
2017-03-27  833.500000  140.880005  846.820007  137.670532  846.820007
2017-03-28  850.099976  143.800003  856.000000  140.523987  856.000000
2017-03-29  859.020020  144.119995  874.320007  140.836700  874.320007
2017-03-30  871.659973  143.929993  876.340027  140.651016  876.340027
2017-03-31  876.650024  143.660004  886.539978  140.387177  886.539978
2017-04-03  885.419983  143.699997  891.510010  140.426254  891.510010
2017-04-04  890.280029  144.770004  906.830017  141.471878  906.830017
2017-04-05  905.619995  144.020004  909.280029  140.738983  909.280029
2017-04-06  894.489990  143.660004  898.280029  140.387177  898.280029
2017-04-07  889.309998  143.339996  894.880005  140.074463  894.880005
2017-04-10  899.000000  143.169998  907.039978  139.908325  907.039978
2017-04-11  897.500000  141.630005  902.359985  138.403427  902.359985
2017-04-12  895.250000  141.800003  896.229980  138.569550  896.229980
2017-04-13  884.489990  141.050003  884.669983  137.836624  884.669983
2017-04-17  887.500000  141.830002  901.989990  138.598862  901.989990
2017-04-18  900.780029  141.199997  903.780029  137.983200  903.780029
2017-04-19  897.369995  140.679993  899.200012  137.475052  899.200012
2017-04-20  896.289978  142.440002  902.059998  139.194962  902.059998
2017-04-21  896.770020  142.270004  898.530029  139.028854  898.530029
2017-04-24  903.820007  143.639999  907.409973  140.367630  907.409973
2017-04-25  903.000000  144.529999  907.619995  141.237350  907.619995
2017-04-26  907.559998  143.679993  909.289978  140.406723  909.289978
2017-04-27  912.109985  143.789993  918.380005  140.514191  918.380005
2017-04-28  924.330017  143.649994  924.989990  140.377380  924.989990

               Volume
                 AAPL      AMZN
Date
2017-01-03   28781900   3521100
2017-01-04   21118100   2510500
2017-01-05   22193600   5830100
2017-01-06   31751900   5986200
2017-01-09   33561900   3440100
2017-01-10   24462100   2558400
2017-01-11   27588600   2992800
2017-01-12   27086200   4873900
2017-01-13   26111900   3791900
2017-01-17   34439800   3659400
2017-01-18   23713000   2354200
2017-01-19   25597300   2540800
2017-01-20   32597900   3376200
2017-01-23   22050200   2797500
2017-01-24   23211000   2971700
2017-01-25   32377600   3922600
2017-01-26   26337600   3586300
2017-01-27   20562900   2998700
2017-01-30   30377500   3747300
2017-01-31   49201000   3137200
2017-02-01  111985000   3850200
2017-02-02   33710400   7350500
2017-02-03   24507300  10868800
2017-02-06   26845900   3897300
2017-02-07   38183800   3466100
2017-02-08   23004100   2858000
2017-02-09   28349900   2484900
2017-02-10   20065500   2429600
2017-02-13   23035400   4172600
2017-02-14   33226200   2787900
...               ...       ...
2017-03-17   43885000   3384400
2017-03-20   21542000   2282700
2017-03-21   39529900   4382900
2017-03-22   25860200   2658700
2017-03-23   20346300   1953000
2017-03-24   22395600   2138300
2017-03-27   23575100   2755800
2017-03-28   33374800   3041600
2017-03-29   29190000   4485800
2017-03-30   21207300   2762700
2017-03-31   19661700   3957600
2017-04-03   19985700   3422300
2017-04-04   19891400   4984700
2017-04-05   27717900   7508400
2017-04-06   21149000   6344100
2017-04-07   16672200   3710900
2017-04-10   18933400   3184300
2017-04-11   30379400   3012700
2017-04-12   20350000   2456100
2017-04-13   17822900   3174600
2017-04-17   16582100   2854700
2017-04-18   14697500   2999200
2017-04-19   17328400   2870200
2017-04-20   23319600   2814400
2017-04-21   17320900   2420500
2017-04-24   17134300   3122900
2017-04-25   18871500   3380600
2017-04-26   20041200   2608900
2017-04-27   14246300   5305500
2017-04-28   20860400   7335800

[81 rows x 12 columns]

In [7]:
data2['Volume']

                 AAPL      AMZN
Date
2017-01-03   28781900   3521100
2017-01-04   21118100   2510500
2017-01-05   22193600   5830100
2017-01-06   31751900   5986200
2017-01-09   33561900   3440100
2017-01-10   24462100   2558400
2017-01-11   27588600   2992800
2017-01-12   27086200   4873900
2017-01-13   26111900   3791900
2017-01-17   34439800   3659400
2017-01-18   23713000   2354200
2017-01-19   25597300   2540800
2017-01-20   32597900   3376200
2017-01-23   22050200   2797500
2017-01-24   23211000   2971700
2017-01-25   32377600   3922600
2017-01-26   26337600   3586300
2017-01-27   20562900   2998700
2017-01-30   30377500   3747300
2017-01-31   49201000   3137200
2017-02-01  111985000   3850200
2017-02-02   33710400   7350500
2017-02-03   24507300  10868800
2017-02-06   26845900   3897300
2017-02-07   38183800   3466100
2017-02-08   23004100   2858000
2017-02-09   28349900   2484900
2017-02-10   20065500   2429600
2017-02-13   23035400   4172600
2017-02-14   33226200   2787900
...               ...       ...
2017-03-17   43885000   3384400
2017-03-20   21542000   2282700
2017-03-21   39529900   4382900
2017-03-22   25860200   2658700
2017-03-23   20346300   1953000
2017-03-24   22395600   2138300
2017-03-27   23575100   2755800
2017-03-28   33374800   3041600
2017-03-29   29190000   4485800
2017-03-30   21207300   2762700
2017-03-31   19661700   3957600
2017-04-03   19985700   3422300
2017-04-04   19891400   4984700
2017-04-05   27717900   7508400
2017-04-06   21149000   6344100
2017-04-07   16672200   3710900
2017-04-10   18933400   3184300
2017-04-11   30379400   3012700
2017-04-12   20350000   2456100
2017-04-13   17822900   3174600
2017-04-17   16582100   2854700
2017-04-18   14697500   2999200
2017-04-19   17328400   2870200
2017-04-20   23319600   2814400
2017-04-21   17320900   2420500
2017-04-24   17134300   3122900
2017-04-25   18871500   3380600
2017-04-26   20041200   2608900
2017-04-27   14246300   5305500
2017-04-28   20860400   7335800

[81 rows x 2 columns]

In [8]:
#list of stocks in portfolio
stocks = ['AAPL','AMZN','MSFT','GOOG']
 
#download daily price data for each of the stocks in the portfolio
data = pdr.get_data_yahoo(stocks,start="2017-01-01",end="2017-12-29")['Adj Close']

[*********************100%***********************]  4 of 4 downloaded

In [9]:
pd.DataFrame.to_csv(data,'stocks.csv')
data3 = pd.DataFrame.from_csv('stocks.csv')

C:\Users\Garbiel\Anaconda3_64\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: from_csv is deprecated. Please use read_csv(...) instead. Note that some of the default arguments are different, so please refer to the documentation for from_csv when changing your function calls

In [10]:
data3

                  AAPL         AMZN         GOOG       MSFT
Date
2017-01-03  113.013916   753.669983   786.140015  60.431488
2017-01-04  112.887413   757.179993   786.900024  60.161095
2017-01-05  113.461502   780.450012   794.020020  60.161095
2017-01-06  114.726402   795.989990   806.150024  60.682560
2017-01-09  115.777237   796.919983   806.650024  60.489429
2017-01-10  115.893997   795.900024   804.789978  60.470112
2017-01-11  116.516708   799.020020   807.909973  61.020542
2017-01-12  116.030212   813.640015   806.359985  60.460461
2017-01-13  115.825882   817.140015   807.880005  60.547371
2017-01-17  116.759972   809.719971   804.609985  60.383205
2017-01-18  116.750229   807.479980   806.070007  60.354240
2017-01-19  116.545898   809.039978   802.174988  60.161095
2017-01-20  116.759972   808.330017   805.020020  60.585999
2017-01-23  116.837799   817.880005   819.309998  60.798439
2017-01-24  116.730774   822.440002   823.869995  61.339222
2017-01-25  118.589195   836.520020   835.669983  61.493729
2017-01-26  118.647583   839.150024   832.150024  62.063461
2017-01-27  118.657303   835.770020   823.309998  63.521629
2017-01-30  118.345947   830.380005   802.320007  62.893936
2017-01-31  118.073517   823.479980   796.789978  62.430424
2017-02-01  125.273705   832.349976   795.695007  61.397160
2017-02-02  125.059654   839.950012   798.530029  61.001232
2017-02-03  125.594803   810.200012   801.489990  61.493729
2017-02-06  126.772125   807.640015   801.340027  61.455097
2017-02-07  127.978630   812.500000   806.969971  61.252308
2017-02-08  128.474869   819.710022   808.380005  61.165401
2017-02-09  129.403229   821.359985   809.559998  61.860672
2017-02-10  129.110077   827.460022   813.669983  61.802742
2017-02-13  130.253418   836.530029   819.239990  62.498020
2017-02-14  131.944016   836.390015   820.450012  62.731186
...                ...          ...          ...        ...
2017-11-15  167.160339  1126.689941  1020.909973  81.920334
2017-11-16  169.157410  1137.290039  1032.500000  82.137527
2017-11-17  168.218185  1129.880005  1019.090027  81.347740
2017-11-20  168.050110  1126.310059  1018.380005  81.476082
2017-11-21  171.174255  1139.489990  1034.489990  82.650887
2017-11-22  172.973587  1156.160034  1035.959961  82.048676
2017-11-24  172.983475  1186.000000  1040.609985  82.196762
2017-11-27  172.113464  1195.829956  1054.209961  82.798973
2017-11-28  171.105042  1193.599976  1047.410034  83.796066
2017-11-29  167.555801  1161.270020  1021.659973  82.275734
2017-11-30  169.898895  1176.750000  1021.409973  83.095139
2017-12-01  169.107971  1162.349976  1010.169983  83.183990
2017-12-04  167.872177  1133.949951   998.679993  80.044594
2017-12-05  167.713974  1141.569946  1005.150024  80.548073
2017-12-06  167.091141  1152.349976  1018.380005  81.722885
2017-12-07  167.397629  1159.790039  1030.930054  81.436584
2017-12-08  167.447037  1162.000000  1037.050049  83.085274
2017-12-11  170.709595  1168.920044  1041.099976  84.141602
2017-12-12  169.750595  1165.079956  1040.479980  84.487129
2017-12-13  170.314117  1164.130005  1040.609985  84.260071
2017-12-14  170.264694  1174.260010  1049.150024  83.608505
2017-12-15  171.994812  1179.140015  1064.189941  85.740913
2017-12-18  174.417007  1190.579956  1077.140015  85.276909
2017-12-19  172.558350  1187.380005  1070.680054  84.733940
2017-12-20  172.370514  1177.619995  1064.949951  84.427887
2017-12-21  173.023026  1174.760010  1063.630005  84.408150
2017-12-22  173.023026  1168.359985  1060.119995  84.418022
2017-12-26  168.633423  1176.760010  1056.739990  84.309425
2017-12-27  168.663101  1182.260010  1049.369995  84.615471
2017-12-28  169.137650  1186.099976  1048.140015  84.625343

[250 rows x 4 columns]

In [11]:
data3[0:5]

                  AAPL        AMZN        GOOG       MSFT
Date
2017-01-03  113.013916  753.669983  786.140015  60.431488
2017-01-04  112.887413  757.179993  786.900024  60.161095
2017-01-05  113.461502  780.450012  794.020020  60.161095
2017-01-06  114.726402  795.989990  806.150024  60.682560
2017-01-09  115.777237  796.919983  806.650024  60.489429

In [12]:
data3[1:5]

                  AAPL        AMZN        GOOG       MSFT
Date
2017-01-04  112.887413  757.179993  786.900024  60.161095
2017-01-05  113.461502  780.450012  794.020020  60.161095
2017-01-06  114.726402  795.989990  806.150024  60.682560
2017-01-09  115.777237  796.919983  806.650024  60.489429

In [13]:
data3['AAPL'].head(20)

Date
2017-01-03    113.013916
2017-01-04    112.887413
2017-01-05    113.461502
2017-01-06    114.726402
2017-01-09    115.777237
2017-01-10    115.893997
2017-01-11    116.516708
2017-01-12    116.030212
2017-01-13    115.825882
2017-01-17    116.759972
2017-01-18    116.750229
2017-01-19    116.545898
2017-01-20    116.759972
2017-01-23    116.837799
2017-01-24    116.730774
2017-01-25    118.589195
2017-01-26    118.647583
2017-01-27    118.657303
2017-01-30    118.345947
2017-01-31    118.073517
Name: AAPL, dtype: float64

In [14]:
data3['AAPL'][2:10]

Date
2017-01-05    113.461502
2017-01-06    114.726402
2017-01-09    115.777237
2017-01-10    115.893997
2017-01-11    116.516708
2017-01-12    116.030212
2017-01-13    115.825882
2017-01-17    116.759972
Name: AAPL, dtype: float64